@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/functions' as *;

.btn-primary {
  @include flex-center(row);
  justify-content: center;
  padding: $space-sm $space-lg;
  border: none;
  border-radius: $radius-sm;
  background: $color-accent-orange-light;
  color: $color-text-dark;
  font-family: $font-body;
  font-size: rem(20);
  font-weight: 700;
  cursor: pointer;
  transition: background 0.2s ease, transform 0.15s ease, padding 0.2s ease;

  >span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18px;
    width: 0;
    overflow: hidden;
    margin-left: 0;
    background-image: url('/assets/img/btn-img/add_circle.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0;
    transition: width 0.2s ease, margin-left 0.2s ease, opacity 0.2s ease;
  }

  &:hover {
    background: $color-accent-orange;

    >span {
      width: 18px;
      margin-left: 10px;
      opacity: 1;
    }
  }

  &.is-active {
    >span {
      width: 18px;
      margin-left: 10px;
      opacity: 1;
      background-image: url('/assets/img/btn-img/check.svg');
    }
  }
}

.btn-tertiary {
  @include flex-center(row);
  gap: rem(8);
  padding: $space-sm $space-lg;
  border: none;
  border-radius: $radius-sm;
  background: transparent;
  color: $color-text-dark;
  font-family: $font-body;
  font-size: rem(16);
  font-weight: 700;
  cursor: pointer;
  transition: background 0.2s ease, color 0.2s ease;

  > span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(18);
    height: rem(18);
    background-image: url('/assets/img/btn-img/add_circle.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &:hover {
    background: $color-bg-tertiary-btn-hover;     
       
  }
}

.btn-secondary {
  @include flex-center(row);
  padding: $space-sm $space-lg;
  border: none;
  border-radius: $radius-md;
  background: $color-accent-orange-light;
  color: $color-text-dark;
  font-family: $font-body;
  font-size: rem(16);
  font-weight: 700;
  cursor: pointer;
  transition: background 0.2s ease, transform 0.15s ease;

  &:hover {
    background: $color-accent-orange;
  }

  &:active {
    transform: scale(0.98);
  }
}

.btn-filter {
  @include flex-center(row);
  padding: $space-xs $space-lg;
  border: none;
  border-radius: $radius-lg;       
  background: $color-accent-orange-light;
  color: $color-text-dark;
  font-family: $font-body;
  font-size: rem(14);
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s ease, transform 0.15s ease;

  &:hover {
    background: $color-accent-orange;
  }

  &.is-active {
    background: $color-accent-orange;
    font-weight: 700;
  }

  &:active {
    transform: scale(0.98);
  }
}