<div class="survey-detail content-wrapper">
  <app-app-header variant='light' [showButton]="true" />
  <div class="grid-layout">
    <section class="survey-fill-out">
      <article class="survey-fill-out__header">
        <span class="survey-fill-out__badge">Published</span>
        <div class="survey-fill-out__info">
          @if (survey()?.end_date != null) {
          <p>Ends on {{formattedEndDate()}}</p>
          }
          @if (survey()?.category != null) {
          <p>Category: {{survey()?.category}}</p>
          }
        </div>
        <h1>{{survey()?.title}}</h1>
        @if (survey()?.description != '') {
        <p>{{survey()?.description}} </p>
        }
      </article>
      <section class="questions-grid">
        @for (question of questions(); track $index) {
        <app-question-answer-block [questionsArray]="question" (answersChange)="onAnswersChange(question.id, $event)"
          [resetSignal]="resetCounter()"></app-question-answer-block>
        }
      </section>
      <div class="survey-fill-out__btn-container">
        @if (showError()) {
        <p>Please answer all questions before submitting.</p>
        }
        <button (click)="submitSurvey()">Complete survey <span></span></button>
      </div>
    </section>
    <section class="survey-results">
      <article class="survey-results__container">
        <p class="survey-results__header">Survey results <span>LIVE</span></p>
        @if (questions()?.some(q => q.answers.some(a => a.votes > 0))) {
        @for (question of questions(); track $index) {
        <app-question-results [questionsArray]="question"></app-question-results>
        }
        } @else {
        <div class="survey-results__empty">
          <p>Results will be shown here after participants complete the survey.</p>
          <span>There are no answears yet.</span>
        </div>
        }
      </article>
    </section>
  </div>
</div>