@use '../../styles/abstracts/variables' as *;
@use '../../styles/abstracts/mixins' as *;
@use '../../styles/abstracts/functions' as *;

.survey-detail {
  min-height: 100vh;
  background: white;
}

.grid-layout {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 16px;
  margin-top: 50px;

  @include mobile {
    display: block;
    gap: 0;
    padding: 10px;
    box-sizing: border-box;
  }
}

.survey-fill-out {
  grid-column: 1;
  @include container-rounded-top-right($color-bg-survey-fill-out, 150px);
  height: fit-content;
  padding: 50px;
  margin-bottom: 20px;

  @include mobile {
    padding: 50px 15px 20px 5px;
  }

  &__header {
    @include flex-center();
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 30px;
    width: 100%;
    min-width: 0;
    overflow-wrap: break-word;
    word-break: break-word;
  }

  &__badge {
    @include container-rounded-top-right($color-text-orange, 15px);
    padding: 5px 10px;
    font-size: rem(16);
    font-family: 'Mulish';
    font-weight: 600;
    width: fit-content;
  }

  &__info {
    @include flex-center(row);
    align-items: flex-start;
    width: 100%;
    justify-content: space-between;
  }

  &__btn-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
    

    @include mobile {
      height: 110px;
      flex-direction: column;
      justify-content: end;
    }

    >p {
      color: $color-text-dark;
      font-family: $font-display;
      font-size: rem(18);
      padding: 4px;
      border-radius: $radius-sm;
      text-decoration: underline;

      @include mobile {
      
        font-size: rem(16);
      }

    }

    >button {
      margin-left: auto;
      @include btn-secondary('../../../../public/assets/img/btn-img/check.svg');
      color: $color-text-dark;
    }
  }
}

.questions-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;

  @include mobile {
    grid-template-columns: auto;
  }
}

.survey-results {
  grid-column: 2;
  height: fit-content;
  box-sizing: border-box;
  padding: 20px;
  height: 100%;


  &__container {
    @include flex-center();
    align-items: flex-start;
    height: fit-content;
    min-height: 100%;
    align-items: stretch;
  }

  &__header {
    font-family: $font-display;
    font-size: rem(32);

    >span {
      color: $color-text-orange;
    }
  }

  &__empty {
    font-size: rem(18);
    font-weight: bold;
    font-family: $font-body;
    display: grid;

    >span {
      justify-self: center;
      padding: 150px 0;
    }
  }
}