@use '../../../styles/abstracts/variables' as *;
@use '../../../styles/abstracts/mixins' as *;
@use '../../../styles/abstracts/functions' as *;

:host.survey-card--horizontal {
  max-width: 33%;
  flex: 1 1 0;
  min-width: 270px;
}

:host.survey-card--list {
  display: block;
}

.survey-card {
  &__inner {
    @include flex-center();
    align-items: flex-start;
    text-decoration: none;
    transition: transform 0.2s ease;
  }

  &__category {
    font-family: $font-body;
    height: 1rem;
    font-size: rem(16);
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-bottom: 2rem;
  }

  &__title {
    font-family: $font-body;
    font-size: rem(26);
    font-weight: 700;
    line-height: 1.35;
    margin-bottom: auto;
    padding-right: $space-md;
  }

  &__badge {
    @include container-rounded-top-right(#ffd89b, 20px);
    align-self: flex-start;
    color: $color-text-dark;
    padding: 0.4rem 0.75rem;
    font-size: rem(16);
    font-family: $font-body;
  }
}

:host.survey-card--horizontal .survey-card__inner {
  @include container-rounded-top-right($color-text-primary, 100px);
  min-height: 15rem;

  padding: $space-2xl;
  color: $color-text-dark;

  @include mobile {
    padding: $space-lg;
  }

  .survey-card__category {
    color: $color-text-dark;
  }

  .survey-card__title {
    color: $color-text-dark;
  }

  &:hover {
    background-color: $color-bg-hover-options-dropdown;

    .survey-card__badge {
      background-color: $color-accent-orange;
    }
  }
}

:host.survey-card--list .survey-card__inner {
  @include container-rounded-top-right($color-bg-light, 100px);
  height: 7rem;
  padding: $space-lg;
  color: $color-text-primary;

  .survey-card__category {
    color: $color-accent-orange-light;

    @include mobile {
      margin-bottom: $space-md;
    }

  }

  .survey-card__title {
    color: $color-text-primary;
  }

  .survey-card__badge {
    margin-left: auto;
  }

  &:hover {
    background-color: $color-bg-light-hover;

    .survey-card__badge {
      background-color: $color-accent-orange;
    }
  }
}