<section class="hero content-wrapper">
    <div style="grid-area: box-1">
        <h1 class="hero__title">Collect Feedback, Unlock Ideas</h1>
    </div>
    <div style="grid-area: box-2">
        <p class="hero__text" >
            Create and share surveys in minutes - from team events to workplace culture. Collect opinions,
            engage your audience, and turn feedback into action.
        </p>
    </div>
    <div style="grid-area: box-3">
        <button type="button" class="btn-primary">
            New survey
            <span btn-primary__img></span>
        </button>
    </div>
    <div class="hero__visual" aria-hidden="true" style="grid-area: box-4">
        <img class="hero__visual-base" src="/assets/img/main-animation/main_item.png"
            alt="img draft of a survey sheet" />
        <img class="hero__visual-item hero__visual-item--star" src="/assets/img/main-animation/star_item.svg" alt="star" />
        <img class="hero__visual-item hero__visual-item--checked" src="/assets/img/main-animation/checked_item.svg" alt="checkmark" />
        <img class="hero__visual-item hero__visual-item--chat" src="/assets/img/main-animation/chat_item.svg" alt="chat bubble" />
        <img class="hero__visual-item hero__visual-item--question" src="/assets/img/main-animation/question_item.svg" alt="question mark" />
    </div>
</section>