<header class="app-header">

  @if (variant() == 'dark'){
  <div class="app-header__brand">
    <img src="/assets/img/logo_light.png" alt="logo in the light version" class="app-header__logo" />
    <div class="app-header__title-box">
      <span class="app-header__title">Poll</span>
      <span class="app-header__title">App</span>
    </div>
  </div>
  } @else {
  <a class="app-header__brand" [routerLink]="''">
    <img src="/assets/img/logo_dark.png" alt="logo in the dark version" class="app-header__logo" />
    <div class="app-header__title-box">
      <span class="app-header__title">Poll</span>
      <span class="app-header__title">App</span>
    </div>
  </a>

  }


  @if (variant() == 'light') {
  <div>
    <button class="app-header__button" (click)="directToCreate()">Create survey <span></span></button>
  </div>
  }
</header>